<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SDKTest.xcscheme</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>SDKTest2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>SDKTest3.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>DE0D7A171E8967CC00DDD200</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DE0D7A201E8967CC00DDD200</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DE9701571EDC3ADD000FA302</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DEE8B8841EDC34240090CC52</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
